@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    /* Background Color */
    --primary-color: #021832;
    --secondary-color: #caa169;
    --bg-color: #f4f4f4;
    --bg-white: #fff;
    --bg-black: #000;

    /* Text Style */
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Oswald', sans-serif;
    --primary-text: #021832;
    --secondary-text: #caa169;
    --text-white: #fff;
    --text-black: #151515;
    --text-gray: #e4e4e4;
}
body {
  font-family: var(--primary-font);
  background-color: var(--bg-white);
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: .375rem;
}

::-webkit-scrollbar-track {
  background: var(--secondary-color);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
} 

section {
  padding: 3.125rem 0;
}

.main-btn {
  font-size: 1rem;
  font-weight: 500;
  color: #DDDDDD;
  text-transform: none;
  background-color: transparent;
  border: .0625rem solid #fff;
  padding: .375rem 1.875rem;
  border-radius: 3.125rem;
  line-height: 1.75rem;
  display: inline-block;
  transition: all 0.3s ease-out 0s;
}

.main-btn:hover {
  background-color: #3F84E5;
  border-color: var(--secondary-color);
  color: #FF7F11;
}

h1 {
  font-size: 2.75rem;
  line-height: 4.25rem;
  font-weight: 700;
  color: var(--text-white);
  margin-bottom: 1.25rem;
  text-transform: none;
  font-family: var(--secondary-font);
}

h3 {
  margin-bottom: 1.875rem;
  line-height: 2.875rem;
  font-weight: 700;
  font-size: 2.25rem;
  color: var(--primary-text);
  font-family: var(--secondary-font);
}

h3 span {
  color: var(--secondary-text);
}

h5 {
  font-size: 1.5rem;
  line-height: 1;
  color: var(--primary-text);
  margin-bottom: .9375rem;
  font-weight: 500;
  font-family: var(--secondary-font);

}

h6 {
  font-size: .875rem;
  color: var(--primary-text);
  margin-bottom: .9375rem;
  text-transform: uppercase;
  font-weight: 300;
  font-family: var(--secondary-font);
}

p {
  font-size: 1rem;
  color: var(--text-black);
  line-height: 1.625rem;
}
.header_wrapper .navbar {
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: transparent;
    -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}

@keyframes fadeInDown {
    0% {
        top: -30%;
    }

    50% {
        top: -15%;
    }

    100% {
        top: 0;
    }
  
}
.header_wrapper .navbar-brand img{
  width: 70px;
}

.header_wrapper .navbar-toggler {
  border: 0;
  color: white;
  line-height: 2;
}

.header_wrapper .navbar-toggler:focus {
  box-shadow: none;
}

.header_wrapper .nav-item {
  margin: 0 .625rem;
}

.header_wrapper .nav-item .nav-link {
  font-size: 1rem;
  font-weight: 500;
  color:  #DDDDDD;
  display: inline-block;
  text-transform: none;
  font-style: 'Poppins', sans-serif;
}

.header_wrapper .nav-item .nav-link.active,
.header_wrapper .nav-item .nav-link:hover {
  color:  #FF7F11;
  text-transform: none;
}
.navbar.header-scrolled .nav-link{
  color: #DDDDDD;
}
.navbar.header-scrolled {
  padding: .9375rem 0;
  background-color: #873600;
  -webkit-box-shadow: 0 .5rem .375rem -0.375rem rgb(0 0 0 / 40%);
  box-shadow: 0 .5rem .375rem -0.375rem rgb(0 0 0 / 40%);
  -webkit-transition: background 0s ease-in-out 0s, margin-top 0s ease-in-out 0s, opacity 0s ease-in-out 0s;
  transition: background 0s ease-in-out 0s, margin-top 0s ease-in-out 0s, opacity 0s ease-in-out 0s;
}




.carousel-item{
  height: 60vh;
  min-height: 300px;
}

.carousel-caption{
  bottom: 120px;
  z-index: 2;
}
.carousel-caption h5{
  font-size: 45px;
  text-transform: none;
  letter-spacing: 2px;
  margin-top: 25px;
  color: #DDDDDD
}
.carousel-caption p{
  width: 60%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
  color: #DDDDDD
}

.carousel-inner::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  z-index: 1;
}


.div1 h1{
    text-align: center;
    color: #e58f00;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 25px;
    margin-top: 30px;
}
.div1 p{
    color: #111;
    font-family: 'Roboto' sans-serif;
    text-align: center;
    text-align: justify;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    margin-left: 90px;
    margin-right: 90px;
}
.photo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
.photo .p-box {
    width: 650px;
    text-align: center;
    padding: 25px 15px;
    
    
    margin: 10px 10;
  }
.photo .p-box img {
    width: 80%;
    margin-bottom: 10px;
  }

.feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .feature .fe-box {
    width: 230px;
    text-align: center;
    padding: 25px 15px;
    padding-left: 30px;
    margin-left: 50px;
    
    
    margin: 15px 0;
  }
  
  
  
  .feature .fe-box img {
    width: 70%;
    margin-bottom: 10px;
  }

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #873600;
    padding-left: 40px;
    padding-right: 36px;
  }
  .footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 5px;
  
  }
  .footer .logo img{
    width: 200px; 
    margin-top: 10px;
    
     
  }
  
  
  .footer h4{
    font-size: 20px;
    padding-bottom: 5px;
    padding-top: 1px;
    color: #dddddd;
  }
  
  .footer p{
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 0 8px 0;
    color: #dddddd;
  }
  .footer a{
    font-size: 12px;
    text-decoration: none;
    color:black;
    margin-bottom: 10px;
  }
  .footer .follow {
    margin-top: 20px;
  
  }
  .footer .follow i {
    color: #FF7F11;
    padding-right: 4px;
    cursor: pointer;
    font-size: 18px;
  }
  .footer .contact-item i{
    color: #FF7F11;
    padding-right: 4px;
    
    font-size: 18px;
  }
  .footer .contact-item{
    margin-top: 1px;
  
  }
  .footer .contact-item span{
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #dddddd;
  }
  .footer .install .row img {
    border: 1px solid black;
    border-radius: 6px;
  }
  .footer .install img {
    margin: 10px 0 15px 0;
  }
  .footer .follow i:hover,
  .footer a:hover{
    color: #3F84E5;
  }
  
  .divider{
    height: 2px;
    width: 100%;
    background-color: black;
    display: inline-block;
    
  }
  .line{
    text-align: center;
    background: #873600;
  }
  
  .copyright {
    background: #873600;
    font-size: 13px;
    text-align: center;
    padding: 15px 25px 15px 25px;
  }
  .copyright .logo img{
    width: 20px; 
    margin-top: 5px;
  
     
  }
  .copyright span{
    font-size: 1rem;
    color: #dddddd;
    line-height: 1.625rem;
  }
  .copyright a{
    text-decoration: underline;
    color: #dddddd;
    font-size: 1rem;
  }
  .copyright p{
    text-decoration: none;
    color: #dddddd;
    font-size: 1rem;
  }
  .copyright a:hover{
    color: #FF7F11;
  }
  
  @media (max-width: 1199px) {
  
    /* header */
    .navbar-expand-lg .navbar-nav {
        align-items: center;
    }
  
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 0;
        font-size: .875rem;
    }
  
    .main-btn {
        font-size: .875rem;
    }
    .carousel-caption{
    bottom: 220px;
    z-index: 2;
  }
  .carousel-caption{
    bottom: 225px;
  }
  .carousel-caption h5{
    font-size: 25px;
  }
  .carousel-caption p{
    width: 100%;
    font-size: 20px;
  }
  
  }
  
  @media (max-width:991px) {
  
    /* custom css */
    section {
        padding: 1.875rem 0;
    }
  
    /* 2 Navbar */
    .header-scrolled {
        height: auto;
    }
  
    .header_wrapper .menu-navbar-nav {
        text-align: center;
        background-color: var(--bg-dark-blue);
        padding-bottom: .9375rem;
    }
  
    .header_wrapper .nav-item .nav-link {
        margin-top: .9375rem;
    }
    .carousel-caption{
      bottom: 325px;
    }
    .carousel-caption h5{
      font-size: 25px;
    }
    .carousel-caption p{
      width: 100%;
      font-size: 20px;
    }
  
    
  
  }
  
  @media (max-width: 767px) {
  
    /* custom css */
    h1 {
        font-size: 1.875rem;
        line-height: 2.5rem;
    }
  
    h3 {
        font-size: 1.75rem;
        line-height: 2.1875rem;
    }
  
    h5 {
        font-size: 1.25rem;
    }
  
    p {
        font-size: .8125rem;
        line-height: 1.5rem;
    }
    .carousel-caption{
      bottom: 225px;
    }
    .carousel-caption h5{
      font-size: 25px;
    }
    .carousel-caption p{
      width: 100%;
      font-size: 20px;
    }
    .carousel-item img{
      height: 100vh;
    }
   
  
   
  }
  @media (max-width: 424px){
    .carousel-item{
      height: 50vh;
      min-height: 300px;
    }
    .carousel-caption{
      bottom: 130px;
    }
    .carousel-caption p{
      width: 100%;
      font-size: 13px;
    }
    .feature .fe-box img{
     margin-left: 50%;
    }
    
    
  }
 
  
        
      